<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Management</title>
    <!-- Link to your CSS file -->
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <h1 class="title">HOTEL MANAGER</h1>
        <h2>Bookings</h2>
        <nav class="nav_bar">
            <a th:href="@{/customers}">Customers</a>
            <a th:href="@{/bookings}">Bookings</a>
            <a th:href="@{/rooms}">Rooms</a>
            <a th:href="@{/services}">Services</a>
        </nav>
    </header>
    <section>
        <!-- Your form -->
        <form th:action="@{/bookings}" th:object="${booking}" method="post" class="input-fields">
            <div class="input-row">
                <label for="customerId">Customer Id:</label>
                <!-- Use th:field to bind the input to the booking's customerId -->
                <input type="text" id="customerId" name="customerId" th:field="*{customerId}"/>
            </div>
            <div class="input-row">
                <label for="roomId">Room Id:</label>
                <!-- Use th:field to bind the input to the booking's roomId -->
                <input type="text" id="roomId" name="roomId" th:field="*{roomId}"/>
            </div>
            <div class="input-row">
                <label for="startDate">Start Date:</label>
                <!-- Use th:field to bind the input to the booking's startDate -->
                <input type="text" id="startDate" name="startDate" th:field="*{startDate}"/>
            </div>
            <div class="input-row">
                <label for="endDate">End Date:</label>
                <!-- Use th:field to bind the input to the booking's endDate -->
                <input type="text" id="endDate" name="endDate" th:field="*{endDate}"/>
            </div>
            <input type="submit" value="Submit" class="button">
        </form>
    </section>

    <section class="customers">
        <!-- Placeholder listing box just to show what it looks like when real stuff is submitted -->
        <div class="floating-box">
		<img th:src="@{/images/booking.png}" alt="Booking Image">
            <div class="text-column">
                <!-- These are placeholders, change to real items later -->
                <p th:text="${booking.customerId}">Customer Id...</p>
                <p th:text="${booking.roomId}">Room Id...</p>
                <p th:text="${booking.startDate}">Start Date...</p>
                <p th:text="${booking.endDate}">End Date...</p>
            </div>
        </div>
    </section>
</body>
</html>
