<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <!-- Link to your CSS file -->
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css" />
</head>
<body class="error-body">
	<header>
		<h1>Error Page</h1>
	</header>
	
			<h1 class="big-sorry">SORRY :(</h1>
	
			<div class="error-message">
		        <p>An error occurred.</p>
		        <p>Return to <a th:href="@{/bookings}">Bookings</a></p>
		    </div>
    
</body>
</html>
