<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Management</title>
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <h1 class="title">HOTEL MANAGER</h1>
        <h2>Services</h2>
        <nav class="nav_bar">
            <a th:href="@{/customers}">Customers</a>
            <a th:href="@{/bookings}">Bookings</a>
            <a th:href="@{/rooms}">Rooms</a>
            <a th:href="@{/services}">Services</a>
        </nav>
    </header>
    <section>
        <!-- Your form -->
        <form th:action="@{/services}" th:object="${providedService}" method="post" class="input-fields"> 
            <div class="input-row">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" th:field="*{name}"/>
            </div>
            <div class="input-row">
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" th:field="*{description}"/>
            </div>
            <div class="input-row">
                <label for="price">Price:</label>
                <input type="text" id="price" name="price" th:field="*{price}"/>
            </div>
            <input type="submit" value="Submit" class="button">
        </form>
    </section>

    <section class="customers">
        <!-- Placeholder listing box just to show what it looks like when real stuff is submitted -->
        <div class="floating-box" th:each="product : ${products}">
            <img th:src="@{/images/service.png}">
            <div class="text-column">
                <p th:text="${product.name}">Name...</p>
                <p th:text="${product.description}">Description...</p>
                <p th:text="${product.price}">Price...</p>
            </div>
        </div>
    </section>
</body>
</html>
